<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Exclude possible other package sources configured on the build/development machine. -->
    <clear />
    <!-- Official/public NuGet repo on internet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>